# Dependency directory (Isse GitHub par nahi bhejna hota)
node_modules/

# Environment variables (Isme aapki Database URI aur Secret keys hoti hain)
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS related files
.DS_Store
Thumbs.db

# Build folder (Agar aap TypeScript use kar rahe hain)
dist/
build/
